/* Container holding the image and the text */
.container {
    position: relative;
}

.text-block {
    display: block;
    position: absolute;
    top: 95%;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(11, 12, 14, 0.17);
    border-radius: 5px;
    align-items: center;
    margin-left: 22px;
    line-height: 26px;


}

.photo {
    width: 115%;
    height: auto;
    position: relative;
    display: block;
    margin-top: 2%;
    margin-left: 70px;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(24, 34, 53, 0.17);
}
