.NavbarItems{
    background-color:#b30404 ;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem
}

.navbar-logo {
    color:#f9f9f9;
    justify-self: start;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    width: 45vw;
    text-align: center;
    list-style: none;
    margin-right: 2rem;
    justify-content: end;
    list-style: none;
    text-decoration: none
  }
  .navbar__link {
    font-family: 'Do Hyeon', sans-serif;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .navbar__link:hover {
background-color: rgb(38, 87, 161);
text-decoration: none;
color:white;
border-radius: 4px;
transition: all 0.2s ease-out;  }
.container{
    background-color: #f9f9f9;
    overflow: hidden;
    height: 30px;
    width: 200px;
    border-radius:4px;
    margin-right:5px;
}  

.container:hover{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 40px;
    width: 300px;

    border-radius:4px;
}